.mv-button--default {
    --mv-button-bg-color: var(--mv-color-white);
    --mv-button-border-color: var(--mv-border-color-base);

    --mv-button-hover-text-color: var(--mv-color-primary);
    --mv-button-hover-bg-color: var(--mv-color-primary-light-9);

    --mv-button-active-border-color: var(--mv-color-primary);
    --mv-button-active-bg-color: var(--mv-color-primary-light-9);

    &.is-plain {
        --mv-button-hover-text-color: var(--mv-color-primary);
        --mv-button-hover-bg-color: var(--mv-fill-color-blank);
        --mv-button-hover-border-color: var(--mv-color-primary);
    }

    &.is-text {
        --mv-button-hover-text-color: var(--mv-color-info);
    }

    --mv-button-disabled-text-color: var(--mv-disabled-text-color);
    --mv-button-disabled-bg-color: var(--mv-fill-color-blank);
    --mv-button-disabled-border-color: var(--mv-border-color-light);
}

@mixin mv-button-color($type) {
    --mv-button-bg-color: var(--mv-color-#{$type});
    --mv-button-border-color: var(--mv-color-#{$type});
    --mv-button-text-color: var(--mv-color-white);

    --mv-button-hover-text-color: var(--mv-color-white);
    --mv-button-hover-bg-color: var(--mv-color-#{$type}-light-3);
    --mv-button-hover-border-color: var(--mv-color-#{$type}-light-3);

    --mv-button-active-bg-color: var(--mv-color-#{$type}-dark-2);
    --mv-button-active-border-color: var(--mv-color-#{$type}-dark-2);

    &.is-plain {
        --mv-button-text-color: var(--mv-color-#{$type});
        --mv-button-bg-color: var(--mv-color-#{$type}-light-9);
        --mv-button-border-color: var(--mv-color-#{$type}-light-5);

        --mv-button-hover-text-color: var(--mv-color-white);
        --mv-button-hover-bg-color: var(--mv-color-#{$type});
        --mv-button-hover-border-color: var(--mv-color-#{$type});
    }

    &.is-text {
        --mv-button-text-color: var(--mv-color-#{$type});
        --mv-button-hover-text-color: var(--mv-color-#{$type}-light-5);
        --mv-button-disabled-text-color: var(--mv-color-#{$type}-light-5);
    }

    --mv-button-disabled-text-color: var(--mv-color-white);
    --mv-button-disabled-bg-color: var(--mv-color-#{$type}-light-5);
    --mv-button-disabled-border-color: var(--mv-color-#{$type}-light-5);
}

.mv-button--primary {
    @include mv-button-color("primary");
}

.mv-button--success {
    @include mv-button-color("success");
}

.mv-button--info {
    @include mv-button-color("info");
}

.mv-button--warning {
    @include mv-button-color("warning");
}

.mv-button--danger {
    @include mv-button-color("danger");
}

.mv-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    height: 32px;
    white-space: nowrap;
    cursor: pointer;
    color: var(--mv-button-text-color);
    text-align: center;
    box-sizing: border-box;
    outline: none;
    transition: 0.1s;
    font-weight: 500;
    user-select: none;
    vertical-align: middle;
    -webkit-appearance: none;
    background-color: var(--mv-button-bg-color);
    border: var(--mv-border);
    border-color: var(--mv-button-border-color);
    padding: 8px 15px;
    font-size: var(--mv-font-size-base);
    border-radius: var(--mv-border-radius-base);

    +.mv-button {
        margin-left: 12px;
    }

    &:hover {
        color: var(--mv-button-hover-text-color);
        background-color: var(--mv-button-hover-bg-color);
        border-color: var(--mv-button-hover-border-color);
    }

    &:active {
        background-color: var(--mv-button-active-bg-color);
        border-color: var(--mv-button-active-border-color);
    }

    &.is-round {
        border-radius: 20px;
    }

    &.is-circle {
        border-radius: 50%;
        padding: 8px;
    }

    &.is-disabled {
        color: var(--mv-button-disabled-text-color);
        cursor: not-allowed;
        background-image: none;
        background-color: var(--mv-button-disabled-bg-color);
        border-color: var(--mv-button-disabled-border-color);
    }

    &.is-text {
        border-color: transparent;
        color: var(--mv-button-text-color);
        background: transparent;
        padding: 2px;
        height: auto;

        &:hover {
            color: var(--mv-button-hover-text-color);
        }

        &:active {
            color: var(--mv-button-text-color);
        }

        &.is-disabled {
            color: var(--mv-button-disabled-text-color);
        }
    }
}
