.mv-button--default {
    --mv-button-bg-color: var(--mv-color-white);
    --mv-button-border-color: var(--mv-border-color-base);
    --mv-button-text-color: var(--mv-text-color-primary);

    --mv-button-hover-text-color: var(--mv-color-primary);
    --mv-button-hover-bg-color: var(--mv-color-primary-light-9);

    --mv-button-active-border-color: var(--mv-color-primary);
    --mv-button-active-bg-color: var(--mv-color-primary-light-9);

    --mv-button-hover-text-color: var(--mv-color-primary);
    --mv-button-hover-bg-color: var(--mv-fill-color-blank);
    --mv-button-hover-border-color: var(--mv-color-primary);

    --mv-button-disabled-text-color: var(--mv-disabled-text-color);
    --mv-button-disabled-bg-color: var(--mv-fill-color-blank);
    --mv-button-disabled-border-color: var(--mv-border-color-light);
}

.mv-button--primary {
    --mv-button-bg-color: var(--mv-color-primary);
    --mv-button-border-color: var(--mv-color-primary);
    --mv-button-text-color: var(--mv-color-white);

    --mv-button-hover-text-color: var(--mv-color-white);
    --mv-button-hover-bg-color: var(--mv-color-primary-light-3);
    --mv-button-hover-border-color: var(--mv-color-primary-light-3);

    --mv-button-active-bg-color: var(--mv-color-primary-dark-2);
    --mv-button-active-border-color: var(--mv-color-primary-dark-2);

    --mv-button-text-color: var(--mv-color-primary);
    --mv-button-bg-color: var(--mv-color-primary-light-9);
    --mv-button-border-color: var(--mv-color-primary-light-5);

    --mv-button-hover-text-color: var(--mv-color-white);
    --mv-button-hover-bg-color: var(--mv-color-primary);
    --mv-button-hover-border-color: var(--mv-color-primary);

    --mv-button-disabled-text-color: var(--mv-color-white);
    --mv-button-disabled-bg-color: var(--mv-color-primary-light-5);
    --mv-button-disabled-border-color: var(--mv-color-primary-light-5);
}

.mv-button--success {
    --mv-button-bg-color: var(--mv-color-success);
    --mv-button-border-color: var(--mv-color-success);
    --mv-button-text-color: var(--mv-color-white);

    --mv-button-hover-text-color: var(--mv-color-white);
    --mv-button-hover-bg-color: var(--mv-color-success-light-3);
    --mv-button-hover-border-color: var(--mv-color-success-light-3);

    --mv-button-active-bg-color: var(--mv-color-success-dark-2);
    --mv-button-active-border-color: var(--mv-color-success-dark-2);

    --mv-button-text-color: var(--mv-color-success);
    --mv-button-bg-color: var(--mv-color-success-light-9);
    --mv-button-border-color: var(--mv-color-success-light-5);

    --mv-button-hover-text-color: var(--mv-color-white);
    --mv-button-hover-bg-color: var(--mv-color-success);
    --mv-button-hover-border-color: var(--mv-color-success);

    --mv-button-disabled-text-color: var(--mv-color-white);
    --mv-button-disabled-bg-color: var(--mv-color-success-light-5);
    --mv-button-disabled-border-color: var(--mv-color-success-light-5);
}

.mv-button--info {
    --mv-button-bg-color: var(--mv-color-info);
    --mv-button-border-color: var(--mv-color-info);
    --mv-button-text-color: var(--mv-color-white);

    --mv-button-hover-text-color: var(--mv-color-white);
    --mv-button-hover-bg-color: var(--mv-color-info-light-3);
    --mv-button-hover-border-color: var(--mv-color-info-light-3);

    --mv-button-active-bg-color: var(--mv-color-info-dark-2);
    --mv-button-active-border-color: var(--mv-color-info-dark-2);

    --mv-button-text-color: var(--mv-color-info);
    --mv-button-bg-color: var(--mv-color-info-light-9);
    --mv-button-border-color: var(--mv-color-info-light-5);

    --mv-button-hover-text-color: var(--mv-color-white);
    --mv-button-hover-bg-color: var(--mv-color-info);
    --mv-button-hover-border-color: var(--mv-color-info);

    --mv-button-disabled-text-color: var(--mv-color-white);
    --mv-button-disabled-bg-color: var(--mv-color-info-light-5);
    --mv-button-disabled-border-color: var(--mv-color-info-light-5);
}

.mv-button--warning {
    --mv-button-bg-color: var(--mv-color-warning);
    --mv-button-border-color: var(--mv-color-warning);
    --mv-button-text-color: var(--mv-color-white);

    --mv-button-hover-text-color: var(--mv-color-white);
    --mv-button-hover-bg-color: var(--mv-color-warning-light-3);
    --mv-button-hover-border-color: var(--mv-color-warning-light-3);

    --mv-button-active-bg-color: var(--mv-color-warning-dark-2);
    --mv-button-active-border-color: var(--mv-color-warning-dark-2);

    --mv-button-text-color: var(--mv-color-warning);
    --mv-button-bg-color: var(--mv-color-warning-light-9);
    --mv-button-border-color: var(--mv-color-warning-light-5);

    --mv-button-hover-text-color: var(--mv-color-white);
    --mv-button-hover-bg-color: var(--mv-color-warning);
    --mv-button-hover-border-color: var(--mv-color-warning);

    --mv-button-disabled-text-color: var(--mv-color-white);
    --mv-button-disabled-bg-color: var(--mv-color-warning-light-5);
    --mv-button-disabled-border-color: var(--mv-color-warning-light-5);
}

.mv-button--danger {
    --mv-button-bg-color: var(--mv-color-danger);
    --mv-button-border-color: var(--mv-color-danger);
    --mv-button-text-color: var(--mv-color-white);

    --mv-button-hover-text-color: var(--mv-color-white);
    --mv-button-hover-bg-color: var(--mv-color-danger-light-3);
    --mv-button-hover-border-color: var(--mv-color-danger-light-3);

    --mv-button-active-bg-color: var(--mv-color-danger-dark-2);
    --mv-button-active-border-color: var(--mv-color-danger-dark-2);

    --mv-button-text-color: var(--mv-color-danger);
    --mv-button-bg-color: var(--mv-color-danger-light-9);
    --mv-button-border-color: var(--mv-color-danger-light-5);

    --mv-button-hover-text-color: var(--mv-color-white);
    --mv-button-hover-bg-color: var(--mv-color-danger);
    --mv-button-hover-border-color: var(--mv-color-danger);

    --mv-button-disabled-text-color: var(--mv-color-white);
    --mv-button-disabled-bg-color: var(--mv-color-danger-light-5);
    --mv-button-disabled-border-color: var(--mv-color-danger-light-5);
}

.mv-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    height: 32px;
    white-space: nowrap;
    cursor: pointer;
    color: var(--mv-button-text-color);
    text-align: center;
    box-sizing: border-box;
    outline: none;
    transition: 0.1s;
    font-weight: 500;
    user-select: none;
    vertical-align: middle;
    -webkit-appearance: none;
    background-color: var(--mv-button-bg-color);
    border: var(--mv-border);
    border-color: var(--mv-button-border-color);
    padding: 8px 15px;
    font-size: var(--mv-font-size-base);
    border-radius: var(--mv-border-radius-base);

    &:hover {
        color: var(--mv-button-hover-text-color);
        background-color: var(--mv-button-hover-bg-color);
        border-color: var(--mv-button-hover-border-color);
    }

    &:active {
        background-color: var(--mv-button-active-bg-color);
        border-color: var(--mv-button-active-border-color);
    }

    &.is-round {
        border-radius: 20px;
    }

    &.is-circle {
        border-radius: 50%;
        padding: 8px;
    }

    &.is-disabled {
        color: var(--mv-button-disabled-text-color);
        cursor: not-allowed;
        background-image: none;
        background-color: var(--mv-button-disabled-bg-color);
        border-color: var(--mv-button-disabled-border-color);
    }
}
