:root {
    --mv-color-white: #ffffff;
    --mv-color-black: #000000;
    --mv-color-primary: #409eff;
    --mv-color-primary-light-1: #53a8ff;
    --mv-color-primary-light-2: #66b1ff;
    --mv-color-primary-light-3: #79bbff;
    --mv-color-primary-light-4: #8cc5ff;
    --mv-color-primary-light-5: #a0cfff;
    --mv-color-primary-light-6: #b3d8ff;
    --mv-color-primary-light-7: #c6e2ff;
    --mv-color-primary-light-8: #d9ecff;
    --mv-color-primary-light-9: #ecf5ff;
    --mv-color-success: #67c23a;
    --mv-color-success-light: #e1f3d8;
    --mv-color-success-lighter: #f0f9eb;
    --mv-color-warning: #e6a23c;
    --mv-color-warning-light: #faecd8;
    --mv-color-warning-lighter: #fdf6ec;
    --mv-color-danger: #f56c6c;
    --mv-color-danger-light: #fde2e2;
    --mv-color-danger-lighter: #fef0f0;
    --mv-color-error: #f56c6c;
    --mv-color-error-light: #fde2e2;
    --mv-color-error-lighter: #fef0f0;
    --mv-color-info: #909399;
    --mv-color-info-light: #e9e9eb;
    --mv-color-info-lighter: #f4f4f5;
    --mv-text-color-primary: #303133;
    --mv-text-color-regular: #606266;
    --mv-text-color-secondary: #909399;
    --mv-text-color-placeholder: #c0c4cc;
    --mv-border-color-base: #dcdfe6;
    --mv-border-color-light: #e4e7ed;
    --mv-border-color-lighter: #ebeef5;
    --mv-border-color-extra-light: #f2f6fc;
    --mv-background-color-base: #f5f7fa;
}
