.component-content {
    padding: 10px 25px;
}

.component-title {
    color: #606266;
}

.demo-view {
    padding: 20px;
    border: 1px solid #dcdfe6;
}

.github-markdown-body {
    padding: 0 !important;
}